<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<title>Test</title>

<script type="text/javascript">
	var ws = null;

	function updateUI(connected) {
		document.getElementById('connect').disabled = connected;
		document.getElementById('disconnect').disabled = !connected;
		document.getElementById('send').disabled = !connected;
	}

	function connect() {
		var target = document.getElementById('targetUri').value;
		if ('WebSocket' in window) {
			ws = new WebSocket(target);
		} else if ('MozWebSocket' in window) {
			ws = new MozWebSocket(target);
		} else {
			alert('WebSocket is not supported by this browser');
			return;
		}
		ws.onopen = function() {
			updateUI(true);
			log('Info: WebSocket connection opened');
		};
		ws.onmessage = function(event) {
			log('Received: ' + event.data);
		};
		ws.onclose = function() {
			updateUI(false);
			log('Info: WebSocket connection closed');
		};
	}

	function disconnect() {
		if (ws != null) {
			ws.close();
			ws = null;
		}
		updateUI(false);
	}

	function send() {
		if (ws != null) {
			var message = document.getElementById('message').value;
			log('Sent: ' + message);
			ws.send(message);
		} else {
			alert('WebSocket connection not established, please connect');
		}
	}

	function log(message) {
		var console = document.getElementById('console');
		var p = document.createElement('p');
		p.style.wordWrap = 'break-word';
		p.appendChild(document.createTextNode(message));
		console.appendChild(p);
		while (console.childNodes.length > 16) {
			console.removeChild(console.firstChild);
		}
		console.scrollTop = console.scrollHeight;
	}
</script>

</head>
<body>

	<input id="targetUri" th:value="@{/ws}" hidden="true" />
	<script type="text/javascript">
		var str;
		if (window.location.protocol == 'http:') {
			str = 'ws://';
		} else {
			str = 'wss://';
		}
		str = str + window.location.host
				+ document.getElementById('targetUri').value;
		document.getElementById('targetUri').value = str;
	</script>

	<div style="float: right;">
		<a th:href="@{/j_spring_security_logout}">Logout</a>
	</div>

	<div>
		<button id="connect" onclick="connect();">Connect</button>
		<button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
	</div>

	<div>
		<input id="message" type="text" style="width: 400px"></input>
	</div>
	<div>
		<button id="send" onclick="send();" disabled="disabled">Send</button>
		<label style="padding-left: 10px;">Commands: hello, time.</label>
	</div>

	<div id="console" />

</body>
</html>